<!DOCTYPE html>
<html>
	<head>
		<title>Page 2</title>
	</head>
<body>
<ul>
<li> According to all known laws
of aviation,</li>

  
<li>there is no way a bee
should be able to fly.</li>

  
<li>Its wings are too small to get
its fat little body off the ground.</li>

  
<li>The bee, of course, flies anyway</li>

  
<li>because bees don't care
what humans think is impossible.</li>

  
<li>Yellow, black. Yellow, black.</li>
<li>Yellow, black. Yellow, black.</li>
</ul>
</body>
</html>