<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>A.C Santos's Project</title>
   
   
<h1 align="center"> <span style="font-variant: small-caps;"> A.C Santos's project</span></h1>

<!--Display the Date and Time on a Web page  -->
<p> Date today is: {{ today }}</p>
<hr>

<h2><span style="font-variant: small-caps;">Welcome</span></h2>
<hr>

<!--Paragraph (<p>  -->
<p> Important Links</p>

<!--At least 3 Links to other External Web Sites  -->
<ul>
    <li><a href="https://github.com/Alfred-CS/CSProjects">Java Projects</a></li>
    <li><a href="https://www.linkedin.com">LinkedIn</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZLp7M5SMBkQ&list=LL&index=34">Favorite Music Video</a></li>
</ul>

<p> Links to other HTMLs </p>
<ul>
    <li><a href="/p2.html">Bee Movie Script</a></li>
    <li><a href="/p3.html">American Psycho Monologue</a></li>
</ul>
<hr>
<h3> Resume </h3>
<p> Current Education </p>

	<li> Associates in nursing science</li>
	<li> Computer Science B.S projected 2022 </li>
</ul>

<p> Medical Licenses </p>

<! -- Ordered list -->
<ol>
	<li>BLS/CPR Certified by American Heart Association</li>
	<li>EMT Certified by REMT</li>
	<li>ACLS/NALS Certified by Red Cross</li>
</ol>

<ul>
</body>

</html>
